* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h3 {
  font-size: 30pt;
  color: #dadde0;
  font-family: 'Roboto Slab', serif;
  padding: 2%;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 350px 350px;
      grid-template-rows: 350px 350px;
  background-color: #1e2833;
  color: aliceblue;
}

footer .refernce {
  width: 100%;
  background-color: #021312;
  background: rgba(0, 0, 0, 0.6);
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .refernce .refernce1 {
  border: 2px dashed #112c4b;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .refernce .refernce1 .img-triner {
  background-image: url(https://media-exp1.licdn.com/dms/image/C4D0BAQEIG5RkDRNPvg/company-logo_200_200/0/1574431121488?e=1655337600&v=beta&t=D4QbdfDXFNA5dnWSL-1P9JlC4SDPs_GlPNQw1x2yA4k);
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 25px;
  max-width: 50%;
  min-height: 100%;
}

footer .refernce .refernce1 .countact {
  width: 50%;
  padding: 15px;
}

footer .refernce .refernce1 .countact h3 {
  margin-bottom: 5px;
}

footer .refernce .refernce2 {
  border: 2px dashed #112c4b;
  width: 50%;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .refernce .refernce2 .img-triner {
  background-image: url(https://media-exp1.licdn.com/dms/image/C4E03AQHZksRYWTDoZA/profile-displayphoto-shrink_800_800/0/1631776920650?e=1652918400&v=beta&t=x0Hn79iG7juCSm0SMoxrZLyQwoBWE9veLM_YMPJQ7ss);
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 25px;
  max-width: 50%;
  min-height: 100%;
}

footer .refernce .refernce2 .countact {
  width: 50%;
  padding: 15px;
}

footer .refernce .refernce2 .countact h3 {
  margin-bottom: 5px;
}

footer .countact-me {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  background-color: #123c5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .countact-me .soial-media {
  width: 50%;
  min-height: 100%;
  background-color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .countact-me h1 {
  width: 50%;
  text-align: center;
}

footer .countact-me a {
  text-decoration: none;
  color: #123c5c;
  font-size: 20pt;
  margin-top: 30px;
  -webkit-transition: 1s;
  transition: 1s;
}

footer .countact-me a:hover {
  background-color: #021312;
  color: aliceblue;
  padding: 20px;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: azure;
  font-size: 35pt;
  font-family: 'Smooch Sans', sans-serif;
  font-variant: 20px;
}

h2 {
  color: #c9d8d8;
  font-size: 20pt;
  font-family: 'Smooch Sans', sans-serif;
}

p {
  font-family: 'Roboto Slab', serif;
}

main nav {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/navbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70px;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

main nav a {
  text-decoration: none;
}

main nav a h1 {
  font-family: 'Sacramento', cursive;
  -webkit-transition: 1s;
  transition: 1s;
}

main nav a h1:hover {
  color: #2D9BF0;
}

main nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main nav ul li a {
  color: azure;
  font-size: 15pt;
  padding: 20px 20px;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

main nav ul li a:hover {
  min-height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: #2D9BF0;
  color: white;
  opacity: 0.8;
}

main #About {
  background-image: url(../img/bg3.jpg);
  -ms-grid-rows: 100px 250px 250px 100px;
      grid-template-rows: 100px 250px 250px 100px;
}

main #Skills {
  background-image: url(../img/bg4.jpg);
  -ms-grid-rows: 200px 350px 350px;
      grid-template-rows: 200px 350px 350px;
}

main #Qualification {
  background-image: url(../img/bg5.jpg);
  -ms-grid-rows: 200px 250px 250px;
      grid-template-rows: 200px 250px 250px;
}

main #Certificate {
  background-image: url(../img/bg5.jpg);
  -ms-grid-rows: 200px 250px 250px;
      grid-template-rows: 200px 250px 250px;
}

main section:hover {
  opacity: 1;
}

main section {
  z-index: 1;
  border: #1e2833 dashed 3px;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: 100px 225px 225px 200px;
      grid-template-rows: 100px 225px 225px 200px;
  min-height: 750px;
  width: 100%;
  background-image: url(../img/asd.jpg);
  background-size: cover;
}

main section .img {
  z-index: 2;
  margin-left: 30%;
  background-image: url(../img/meimg.jpg);
  background-size: cover;
  opacity: 0.9;
  background-position: center;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
  -webkit-box-shadow: white 8px 6px 50px;
          box-shadow: white 8px 6px 50px;
  border: 5px solid #292525;
  border-style: dashed;
}

main section .img:hover {
  opacity: 1;
  -webkit-box-shadow: white 15px 20px 50px;
          box-shadow: white 15px 20px 50px;
  border-style: 8px double black;
}

main section .Name {
  z-index: 3;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 100%;
}

main section .Name div {
  background-color: black;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  border-radius: 20px;
  -ms-flex-item-align: center;
      align-self: center;
  min-height: 150px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 1s;
  transition: 1s;
}

main section .Name div h1 {
  margin-bottom: 20px;
  background-color: #123c5c;
  padding: 10px;
}

main section .Name div h2 {
  color: #123c5c;
  background-color: #ffffff;
  padding: 10px;
}

main section .Name div:hover {
  background-color: white;
  -webkit-box-shadow: #383838 5px 8px 50px;
          box-shadow: #383838 5px 8px 50px;
  opacity: 1;
}

main section .links {
  background-color: black;
  background: rgba(0, 0, 0, 0.4);
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  z-index: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-column-end: 4;
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .links .main-nav-links {
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 250px;
  padding-bottom: 5%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section .links .main-nav-links a {
  color: azure;
  border-radius: 5px;
  font-size: 20pt;
  padding: 2px 15px;
  text-decoration: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

main section .links .main-nav-links a:hover {
  background-color: #2D9BF0;
  padding: 20px 15px;
}

main section .links:hover {
  background-color: #181818;
  -webkit-box-shadow: #383838 4px 5px 50px;
          box-shadow: #383838 4px 5px 50px;
  opacity: 1;
  z-index: 2;
}

section .text {
  background-color: #13598f;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: aliceblue;
  padding: 20%;
}

section .text h1 {
  font-size: 50pt;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 10% 2%;
}

section .text p {
  font-size: 15pt;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 10% 2%;
}

section .img2 {
  background-color: #123c5c;
  background-image: url(../img/meimg2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
}

.main-subject {
  background: rgba(0, 0, 0, 0.6);
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-subject h1 {
  font-size: 70pt;
  padding: 5px 15px;
  border-radius: 25px;
}

.con {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-row: span  3;
      grid-row-start: span  3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.con .oft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.con .oft h3 {
  margin-top: 30px;
}

.con .oft .soft-skills {
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
  background-color: #13598f;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.con .oft .soft-skills .soft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.con .oft .soft-skills .soft p {
  background-color: #123c5c;
  color: #ececec;
  width: 100%;
  min-height: 50%;
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 70px;
  border-radius: 15px;
  font-size: 15pt;
}

.con .bg {
  background: rgba(0, 0, 0, 0.8);
}

.con .technical {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
}

.con .technical .tech {
  min-height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(230, 230, 230, 0.9);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.con .technical .tech h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1e2833;
  font-size: 17pt;
  border-radius: 25px;
}

.quali {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-row: span 2;
      grid-row-start: span 2;
  background-color: rgba(16, 26, 21, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quali .unv-img {
  background-color: #ffffff;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quali .unv-img .unv {
  background-image: url(../img/unvimg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  min-height: 300px;
  min-width: 300px;
}

.quali .des {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quali .des h3 {
  font-size: 20pt;
  margin: 20px 10px;
}

.quali .des p {
  font-size: 12pt;
  margin: 20px 10px;
}

.certificate {
  background-color: rgba(16, 26, 21, 0.9);
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-row: span 2;
      grid-row-start: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.certificate .company-img {
  background-color: #071422;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/coding-academy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.certificate .des {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.certificate .des h3 {
  font-size: 20pt;
  margin: 20px 10px;
}

.certificate .des p {
  font-size: 12pt;
  margin: 20px 10px;
}
/*# sourceMappingURL=main.css.map */