*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth ; 
} 
h3{

    font-size: 30pt;
    color: #dadde0;
    font-family: 'Roboto Slab', serif;
    padding: 2%;

}
footer{
       display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 700px 150px ;
        background-color: #1e2833;
        color: aliceblue;
        .refernce{

            width: 100%;
            background-color: #021312;
            background: rgba(0, 0, 0, 0.6);
            grid-column-start: span 2;
            display: flex;
            
         
          
        .refernce1{
          
            width: 50%;
       
        grid-column-start: span 2;
        display: flex;  
        align-items: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 700px;
  
        
       
        .img-triner{
       
            background-image: url(https://media-exp1.licdn.com/dms/image/C4D0BAQEIG5RkDRNPvg/company-logo_200_200/0/1574431121488?e=1655337600&v=beta&t=D4QbdfDXFNA5dnWSL-1P9JlC4SDPs_GlPNQw1x2yA4k);
            width: 50%;
            background-position: center;
            background-repeat: no-repeat;
           
            border-radius: 25px;
            max-width: 50%;
            min-height: 50%;
            
        }
        .countact{
            width: 50%;
            padding: 15px;
            h3{
                margin-bottom: 5px;
            }
        }
       
    }
    .refernce2{
       
        width: 50%;
       
        grid-column-start: span 2;
        display: flex;
        
        align-items: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 700px;

   
    .img-triner{
   
        background-image: url(https://media-exp1.licdn.com/dms/image/C4E03AQHZksRYWTDoZA/profile-displayphoto-shrink_800_800/0/1631776920650?e=1652918400&v=beta&t=x0Hn79iG7juCSm0SMoxrZLyQwoBWE9veLM_YMPJQ7ss);
        width: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain ;
        border-radius: 25px;
        max-width: 50%;
        min-height: 50%;
        
    }
    .countact{
        width: 50%;
        padding: 15px;
        h3{
            margin-bottom: 5px;
        }
    }
}
}
        .countact-me{
           
            grid-column-start: span 2;
            grid-row-start: 2 ;
           display : flex ;
           justify-content: center;
           align-items: center;
           .soial-media{

               width: 80%;
               min-height: 100%;
               background-color: aliceblue;
               display: flex;
               justify-content: center;
               align-items: center;
               flex-wrap: wrap;
           }
           h1{
               width: 50%;
               text-align: center; 
           }
           a{
               text-decoration: none;
               color: #123c5c;
               font-size: 20pt;
               transition: 1s;
               margin-left: 15px;
           }
           a:hover{

            background-color: #021312;
            color: aliceblue;
            padding: 20px;
        }
        }
    }
body{

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
h1 {
    color:azure;
    font-size: 35pt;
    font-family: 'Smooch Sans', sans-serif;
    font-variant: 20px;
}
h2{
    color:rgb(201, 216, 216);
    font-size: 20pt;
    font-family: 'Smooch Sans', sans-serif;
}
p{
    font-family: 'Roboto Slab', serif;

}

main{
nav{
    z-index: 2;
    display: flex;
    background-image: url(../img/navbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70px;
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0px;
        a{
            text-decoration: none;
            h1{
                font-family: 'Sacramento', cursive;
                transition: 1s;
            }
            h1:hover{
                color: #2D9BF0;
            }
            }
        ul{
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-evenly;
        align-items: center;
        
        li{
            a{
                color: azure;
                font-size: 15pt;
                padding: 20px 20px;
                text-decoration: none;
                transition: 1s;
            }   
            a:hover{
                min-height: 100%;
                width: 100%;
                border-radius: 15px;
                background-color: #2D9BF0;
                color: white;
                opacity: 0.8;
            }  
            
        }
        
    }
}
#About{
    background-image: url(../img/bg3.jpg);
    grid-template-rows: 100px 250px 250px 100px;
    background-color: #1e2833;
}
#Skills{
    background-image: url(../img/bg4.jpg);
    grid-template-rows: 150px 375px 375px ;
    background-color: #1e2833;
    
}
#Qualification{
    background-image: url(../img/bg5.jpg);
    grid-template-rows: 200px 250px 250px ;
    background-color: #1e2833;
    
}
#Certificate{
    background-image: url(../img/bg5.jpg);
    grid-template-rows: 200px 250px 250px ;
    background-color: #1e2833;
    
}
section:hover{
opacity: 1;
}
    section{
        z-index: 1;
        border: #1e2833 dashed 3px;
       
        opacity: 0.9;
        transition: 1s;
        display: grid;
        grid-template-columns: repeat(2,50%) ;
        grid-template-rows: 100px 225px 225px 200px;
        min-height: 750px;
        width: 100%;
        background-image: url(../img/asd.jpg);
        background-size: cover;        
    
    .img{
        z-index: 2;
        margin-left: 30%;
        background-image: url(../img/meimg.jpg);
        background-size: cover;
        opacity: 0.9;
        background-position: center;
        width: 350px;
        height: 350px;
        border-radius: 100%;
        transition: 1s;
        grid-row-start: 2;
        grid-row-end: span 2;
        box-shadow: rgb(255, 255, 255) 8px 6px 50px ;
        border: 5px solid rgb(41, 37, 37);
        border-style: dashed;
    }
    .img:hover{
        opacity: 1;
        box-shadow: rgb(255, 255, 255) 15px 20px 50px ;
        
        border-style:8px double black;
    }   
    .Name{
       z-index: 3;
        grid-column-start: span 2;
        grid-row-start: 2;
        grid-row-end:3;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100%;
        
        
        div{
            background-color: black  ;
            background: rgba(0, 0, 0, 0.4);
            width: 100%;
            border-radius: 20px;
            align-self: center;
            min-height: 150px;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: 1s;
            
            h1{
                
                margin-bottom: 20px;
                background-color: #123c5c;
                padding: 10px;
                
            }
            h2{
                color: #123c5c;
                background-color: #ffffff;
                padding: 10px;

            }
        }
        div:hover{
        background-color: rgb(255, 255, 255);
            box-shadow: rgb(56, 56, 56) 5px 8px 50px ;
            opacity: 1;
    }
    }
    .links{
    background-color: black  ; 
    background: rgba(0, 0, 0, 0.4);
    grid-column-start: span 2;
    z-index: 2;
    grid-row-start: 3;
    grid-column-end: 4;     
    transition: 1s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
     .main-nav-links{
         
         margin-right: 10%;
         display: flex;
         justify-content: space-evenly;
         min-height: 250px;
         padding-bottom: 5%;
         width: 100%;
         align-items: center;
         transition: 1s;
         flex-wrap: wrap;

         a{
             color: azure;
             border-radius: 5px;
             font-size: 20pt;
             padding: 2px 15px;   
             text-decoration: none;
             transition: 0.5s ease-in-out;
         }   
         a:hover{ 
             background-color: #2D9BF0;   
             padding: 20px 15px;   
         }   
     }
    }
    .links:hover{
        background-color: rgb(24, 24, 24);
            box-shadow: rgb(56, 56, 56) 4px 5px 50px ;
            opacity: 1;
            z-index: 2;
    }

}
}
section{
    .text{
        background-color: rgb(19, 89, 143);
        grid-row-start: 2;
        grid-row-end: span 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: aliceblue;
        padding: 20%;
        h1{
            font-size: 50pt;
            align-self: flex-start;
            margin: 10% 2%;
        }
        p{
            font-size: 15pt;
            align-self: flex-start;
            margin: 10% 2%;
        }
    }
    .img2{
        background-color: #123c5c;
        background-image: url(../img/meimg2.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        grid-column-start: span 2;
        grid-row-start: 2;
        grid-row-end:4;
    }
    
}

    .main-subject{
        background: rgba(0, 0, 0, 0.6);
        grid-column-start: span 2;
        display: flex;
        justify-content: center;
        align-items:flex-end ;
        
        h1{
            font-size:70pt;
            padding: 5px 15px;
            border-radius: 25px;
        }
    }
  
    


.con{
    grid-column-start: span 2;
    grid-row-start:span  3;
    display: flex;
    width: 100%;
    flex-direction: column;
    .oft{
        h3{
            margin-top: 30px;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
.soft-skills{
 margin-top: 50px;
 flex-wrap: wrap;
    grid-row-end: span 2;
    background-color: rgb(19, 89, 143); 
    background:  rgba(0, 0, 0, 0.6);
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    .soft{
       margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        p{ 
            background-color: #123c5c;
            color:  rgb(236, 236, 236);
            width: 100%;
            min-height: 50%;
            padding: 0px 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 70px;
            border-radius: 15px;
            font-size: 15pt;
        }
    }
    
    
}
    }
    .bg{
        background: rgba(0, 0, 0, 0.8);
    }
.technical{
    margin-top: 50px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    .tech{
        margin-top: 15px;
        min-height: 10%;
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(230, 230, 230 , 0.9);
        justify-content: space-evenly;
        width: 80%;
        h3{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #1e2833;
            font-size: 17pt;
            border-radius: 25px;

        }
       
        }
     
        
       
    }



}

.quali{
    grid-column-start:span 2;
    grid-row-start: span 2;
    background-color: rgba(16, 26, 21, 0.9);
   display: flex;
   .unv-img{
       background-color: #ffffff;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .unv{
            background-image: url(../img/unvimg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100%;
        min-height: 300px;
        min-width: 300px;
        }
    }
   .des{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3{
        font-size: 20pt;
        margin: 20px 10px;
    }
    p{
        font-size: 12pt;
        margin: 20px 10px;
    }
   }

    
}
.certificate{
    .main-subject{
        background: rgba(0, 0, 0, 0.6);
        grid-column-start: span 2;
        display: flex;
        justify-content: center;
        align-items:flex-end ;
        
        h1{
            font-size:70pt;
            padding: 5px 15px;
            border-radius: 25px;
        }
    }
    background-color: rgba(16, 26, 21, 0.9);
    grid-column-start: span 2;
    grid-row-start: span 2;
    display: flex;
    flex-wrap: wrap;
       .company-img{
        background-color: #071422;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/coding-academy.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
     
       }
       .des{
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3{
            font-size: 20pt;
            margin: 20px 10px;
        }
        p{
            font-size: 12pt;
            margin: 20px 10px;
        }
       }
    
   }

   @media screen and (min-width: 480px) and (max-width: 768px)
   { 
      #Home{
        grid-template-columns: 100%;
        grid-template-rows: 100px 225px 225px 250px;

        .img{
            width: 225px;
            height: 225px;
            grid-row-start: 2;
            grid-row-end: span 1;
            justify-content: flex-end;
            margin-left: 35%;
        }
        .links{
            grid-column-start: 1;
            grid-row-start: 4;
            grid-row-end: span 1;
            width: 100%;
            justify-content: center;
            margin-bottom: 0;
            margin-right: 0;

            .main-nav-links{
                width: 100%;
            }
        }
        .Name{
            grid-column-start: 1;
            grid-row-start: 3;
            grid-row-end: span 1;
            justify-content: center;           
        }
      }
      #About{
        background-image: url(../img/bg3.jpg);
        grid-template-columns: 100%;
        grid-template-rows: 350px 350px;
    
      .text{
        grid-column-start: 1;
        grid-row-start:  3;
        grid-row-end: span 2;
        width: 100%;
        padding: 10%;
        h1{
            font-size: 30pt;
            align-self: center;
            padding: 0;
            margin: 0;
        }
        p{
            font-size: 10pt;
            align-self: center;
            padding: 0;
            margin: 0;
            
        }
    }
    .img2{
        grid-column-start: 1;
        grid-row-start:  2;
        grid-row-end: span 1;
       
    }
}
#Qualification{
    .main-subject{
        h1{
        font-size: 30pt;
        }
    }
    background-image: url(../img/bg5.jpg);
    grid-template-columns: 100%;
    grid-template-rows: 100px 300px 300px ;
    .quali{
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: span 2;
      
        .unv-img{

            width: 100%;

        }
        .des{
            width: 100%;
        }
    }
}
#Certificate{
    .main-subject{
        h1{
        font-size: 15t;
        }
    }
    background-image: url(../img/bg5.jpg);
    grid-template-columns: 100%;
    grid-template-rows: 100px 300px 300px ;
  
  .certificate{
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: span 2;
        flex-wrap: nowrap;
     
        justify-content: center;
        align-items: center;
        
        .des{
            width: 50%;
            
        }
  }
}

.refernce{


    flex-direction: column;
    justify-content: center;
 align-items: center;
  
.refernce1{
    width: 100%;
    min-height: 350px;
    
    



.img-triner{


    
}
.countact{
  
    h3{
        font-size: 10pt;
        margin-bottom: 0px;
    }
}

}
.refernce2{
width: 100%;
min-height: 350px;

.img-triner{
width: 100%;
}
.countact{
width: 50%;
padding: 15px;
h3{
    font-size: 10pt;
    margin-bottom: 0px;
}
}
}
   }
   @media screen and (max-width: 479px){
    #Home{
        grid-template-columns: 100%;
        grid-template-rows: 100px 225px 225px 250px;

        .img{
            width: 225px;
            height: 225px;
            grid-row-start: 2;
            grid-row-end: span 1;
            justify-content: flex-end;
            margin-left: 20%;
        }
        .links{
            grid-column-start: 1;
            grid-row-start: 4;
            grid-row-end: span 1;
            width: 100%;
            justify-content: center;
            margin-bottom: 0;
            margin-right: 0;

            .main-nav-links{
                width: 100%;
            }
        }
        .Name{
            grid-column-start: 1;
            grid-row-start: 3;
            grid-row-end: span 1;
          
            justify-content: center;
            
        }
      }
      #About{
        background-image: url(../img/bg3.jpg);
        grid-template-columns: 100%;
        grid-template-rows: 350px 350px;
    
      .text{
        grid-column-start: 1;
        grid-row-start:  3;
        grid-row-end: span 2;
        width: 100%;
        padding: 10%;
        h1{
            font-size: 30pt;
            align-self: center;
            padding: 0;
            margin: 0;
        }
        p{
            font-size: 10pt;
            align-self: center;
            padding: 0;
            margin: 0;
            
        }
    }
    .img2{
        grid-column-start: 1;
        grid-row-start:  2;
        grid-row-end: span 1;
       
    }
}
#Qualification{
    .main-subject{
        h1{
        font-size: 30pt;
        }
    }
    background-image: url(../img/bg5.jpg);
    grid-template-columns: 100%;
    grid-template-rows: 100px 300px 300px ;
    .quali{

        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: span 2;
        flex-wrap: wrap;
        .unv-img{
            width: 100%;
        }
        .des{
            width: 100%;
        }
    }
 }
 .refernce{


    flex-direction: column;
    justify-content: center;
    align-items: center;
  
.refernce1{
    width: 100%;
    min-height: 350px;
    
    



.img-triner{


    
}
.countact{
  

}

}
.refernce2{
width: 100%;
min-height: 350px;

.img-triner{
width: 100%;
}
.countact{
width: 50%;
padding: 15px;

}
}
.b{
    font-size: 10pt;
    margin-bottom: 0px;
}
footer .countact-me a {
    font-size: 10pt;
    transition: 1s;
    margin-left: 15px;
}
}













// @keyframes prog1{
// 0%{
//     width: 100%;
   
// }
// 10%{
    
//     width: 10%;
   
// }
// 20%{
    
//     width: 20%;
   
// }
// 30%{
    
//     width: 30%;
    
// }
// 40%{
    
//     width: 40%;
    
// }
// 50%{

//     width: 50%;
    
// }
// 60%{
    
//     width: 60%;
    
// }
// 70%{
    
//     width: 70%;
   
// }
// 80%{
    
//     width: 80%;
    
// }
// 90%{
    
//     width: 90%;
    
// }
// 100%{
    
//     width: 100%;
    
// }
// }